[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
subgrounds = "*"
nbformat = "*"
ipykernel = "*"
datetime = "*"
math = "*"
pandas = "*"
os = "*"
duckdb = "*"
seaborn = "*"
matplotlib = "*"
streamlit = "*"

[dev-packages]

[requires]
python_version = "3.10"